<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Customer Query</h1>
    <table>
    <tr>
    <td>Name : </td>
    <td><%= @contact.name %></td>
    </tr>
    <tr>
    <td>Company : </td>
    <td><%= @contact.company %></td>
    </tr>
    <tr>
    <td>Email : </td>
    <td><%= @contact.email %></td>
    </tr>
    <tr>
    <td>User Info : </td>
    <td><%= @contact.userInfo %></td>
    </tr>
    <tr>
    <td>Message : </td>
    <td><%= @contact.message %></td>
    </tr>
    </table>
  </body>
</html>